@import "tailwindcss";
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #18181b;
  color: #f3f4f6;
}

:root {
  --accent: 0 100% 70%; /* light red */
  --accent-foreground: 0 0% 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    border-color: #27272a;
  }
  body {
    background: #18181b;
    color: #f3f4f6;
  }
}
